{% load i18n %}
{% if data.password_change_required %}
    <p class='help'>{% trans "Your password has expired. Please change it using the form below." %}</p>
{% else %}
    <p class='help'>Use the following form to change your password.</p>
{% endif %}

{% if data.form.non_field_errors %}
<div class="alert alert-danger">
    {{ data.form.non_field_errors }}
</div>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ data.form }}
  <button type="submit" class="btn btn-success btn-lg margin-top">
    <i class="fa fa-floppy-o"></i> Save changes
  </button>
</form>