{% load i18n %}
{% if data.password_change_required %}
    <p class='help'>{% trans "Your password has expired. Please change it using the form below." %}</p>
{% else %}
    <p class='help'>Use the following form to change your password.</p>
{% endif %}

{% if data.form.non_field_errors %}
<div class="alert alert-danger">
    {{ data.form.non_field_errors }}
</div>
{% endif %}
{% if data.form_error_message %}
<div class="alert alert-danger">
    <strong><i class="fas fa-exclamation-circle"></i>{{ data.form_error_message }}</strong>
    <ul class="bullet-list">
        {% for error in data.error_items %}
            <li class="text-danger">
                {{ error }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ data.form }}
    <div class="mt-2 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-lg margin-top">
        <i class="fas fa-save"></i> Save changes
      </button>
    </div>

</form>