{% load dict_key_extras %}

<div class="btn-group {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5" %}float-end{% endif %}">
	<a class="btn btn-secondary" id="upload-blob-btn">
        <i class="fas fa-upload"></i> Upload File
    </a>
</div>
<br/><br/>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            {% if data.menu %}
                <th>
                    <input type="checkbox" id="select_all_{{group}}"
                           onchange="selectAll(this, '{{group}}')">
                </th>
            {% endif %}
            <th>File name</th>
            <th>Upload date</th>
            {% if come_from_admin %}
                <th>User</th>
            {% endif %}
            {% if not data.title%}
                <th>Workspace</th>
            {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for object in objects %}
            <tr class="{{ rowcolors }}" objectid="{{object.file.id}}">
                {% if data.menu %}
                <td id="actionCheckbox_{{forloop.counter}}">
                    <input type="checkbox" id={{object.file.id}} name={{group}}>
                </td>
                {% endif %}
                <td>
                    <span class="blob-link" data-blob-url="{{ object.download_url }}">
                        {{ object.file.filename }}
                    </span>
                </td>
                <td>{{ object.date }}</td>
                {% if come_from_admin %}
                    <td>
                        {{object.user}}
                    </td>
                {% endif %}
                {% if not data.title%}
                    <td>
                        {% if object.file.workspace %}
                            {{ object.file.workspace.title }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActions" {% if BOOTSTRAP_VERSION|first == "4" %}data-toggle{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-toggle{% endif %}="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sliders"></i> Actions
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownActions">
                        <a class="dropdown-item" href="{{ object.url }}">
                            <i class="fas fa-file-alt"></i> View
                        </a>
                        <a class="dropdown-item download-{{data.document}}-btn" href="{{ object.download_url }}">
                            <i class="fas fa-download"></i> Download
                        </a>

                        <a id="pid-sharing" class="share-btn dropdown-item {% if not data.share_pid_button %}disabled{% endif %}" href="#">
                            <i class="fas fa-link"></i> Share PID
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item assign-workspace-record-btn {% if not object.can_change_workspace %}disabled{% endif %}" href="#">
                            <i class="fas fa-folder"></i> Change workspace
                        </a>

                        <a class="dropdown-item change-owner-btn {% if not object.is_owner %} disabled{% endif %}" href="#">
                            <i class="fas fa-folder"></i> Change Owner
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item delete-document-btn" objectid="{{ object.file.id }}" href="#">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="empty" style="text-align: center;" colspan="100%">
                     No {{document}} found.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'core_main_app/common/pagination/data_source_pagination.html' with pagination=data.pagination%}
