{% load dict_key_extras %}

<div>
    <input type="hidden" id="persistent-query-type"  value="{{data.type|lower}}">
    <input type="hidden" id="persistent-query-path"  value="{{data.url_path|lower}}">
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in data.tabs %}
            <li role="presentation" class="nav-item">
                <a class="nav-link {% if data.tab == tab %} active {% endif %}"
                   id="tab_{{tab}}"
                   title="{{tab}}"
                   data-tab-value="{{tab}}"
                   aria-controls="profile" role="tab">
                    {{ tab }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" id="data_table" class="tab-pane active">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    {% if data.menu %}
                        <th> <input type="checkbox" id="select_all_{{group}}" onchange="selectAll(this, '{{group}}')"> </th>
                    {% endif %}
                    <th>Name</th>
                    <th>Content</th>
                    {% if come_from_admin %} <th>User</th> {% endif %}
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr class="{{ rowcolors }}" objectid="{{object.query.id}}">
                        {% if data.menu %}
                            <td id="actionCheckbox_{{forloop.counter}}">
                                <input type="checkbox" id={{object.query.id}} name={{group}}>
                            </td>
                        {% endif %}
                            <td >
                                <input type="hidden"  class="persistent-query-name" value="{% if object.query.name != None %} {{object.query.name}}{% endif %}">
                                {% if object.query.name != ""  %}{{object.query.name}}  {% else %} None {% endif %}
                            </td>

                        {% if come_from_admin %}
                            <td class="col-md-5" style="overflow: hidden;">
                                {% else %}
                            <td class="col-md-6" style="overflow: hidden;">
                        {% endif %}

                        {% if object.query.content != "{}" %}
                            <pre ><code class="json content-ellipsis" >{{object.query.content}}</code></pre>
                        {% else %}
                            No content
                        {% endif %}
                            </td>
                                 {% if come_from_admin %}<td>{{object.user}}</td>{% endif %}
                            <td>
                                {% if come_from_admin %}
                                    <a class="btn btn-secondary " href="{% url 'core-admin:core_explore_common_persistent_query_content' data.tab  object.query.id %}">
                                        <i class="fas fa-eye"></i> View
                                    </a>
                                {% else %}
                                    <a class="btn btn-secondary" href="{% url 'core_explore_common_persistent_query_content' data.tab  object.query.id %}">
                                        <i class="fas fa-eye"></i> View
                                    </a>
                                {% endif %}

                                    <a class="btn btn-secondary" href="{{data.url_path}}results-redirect?id={{object.query.id}}">
                                        <i class="fas fa-play-circle"></i> Execute
                                    </a>

                                    <button class="btn btn-secondary edit-query-btn" objectid="{{ object.query.id }}">
                                        <i class="fas fa-edit"></i> Rename
                                    </button>
                                    {% include "core_explore_common_app/user/persistent_query/button.html" with come_from_my_queries='True' objectid=object.query.id%}

                                    <button class="btn btn-danger delete-document-btn" objectid="{{ object.query.id }}">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                            </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td class="empty" style="text-align: center;" colspan="100%">
                                 No {{document}} found.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>